<%- include('partials/header') %>

 
<section class="cid-ryK1VGLjGH" id="video3-p" style="margin-top:70px;">

    <form action="http://localhost:4000/" method="GET" style="margin-left:10px;">
      <br/> <br/>     
      <button class="btn btn-lg btn-dark" type="submit" class="registerbtn">Mood Pixel</button>
      <!-- to be used -->
      <button class="btn btn-lg btn-primary" type="submit" class="registerbtn">Chat</button>
      <br/>
    
    </form>

    
    
    <figure class="mbr-figure align-center container">
        <h1>Motivational Videos and Songs</h1><br/>
        <div class="video-block" style="width: 64%;">
            <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/Sd-YsMs3OzA?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
        </div>
    </figure>
</section>



<form action="http://localhost:4000/" method="GET" style="margin-left:10px;">
  <br/>
  <button class="btn btn-dark btn-lg" type="submit" class="registerbtn">Mood Pixel</button>
  <br/><br/>

</form>
<section class="footer4 cid-ryJUiYxsfA" id="footer4-a">  

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-md-3 col-sm-4">
                
                <p class="mb-3 mbr-fonts-style foot-title display-7">CORDURA</p>
                <p class="mbr-text mbr-fonts-style mbr-links-column display-7"><a href="index.html#team1-b">
                    About Us
                    </a><br><a href="index.html#team1-b" class="text-white"></a><a href="index.html#testimonials1-v">Doctors</a><br><a href="index.html#team1-b" class="text-white"></a><a href="index.html#countdown1-c">Events&nbsp;</a><br><a href="index.html#team1-b" class="text-white"></a><a href="index.html#video3-p">Videos</a><br><a href="index.html#team1-b" class="text-white"></a><a href="index.html#slider1-u">Gallery<br></a><br><br></p>
            </div>
            <div class="col-md-4 col-sm-8">
                <p class="mb-4 foot-title mbr-fonts-style display-7">
                    RECENT NEWS
                </p>
                <p class="mbr-text mbr-fonts-style foot-text display-7">New doctors&nbsp;<br>Scheduled webinars<br>Follow our&nbsp;<br>#Share_My_Story</p>
            </div>
            <div class="col-md-4 offset-md-1 col-sm-12">
                <p class="mb-4 foot-title mbr-fonts-style display-7">
                    SUBSCRIBE
                </p>
                <p class="mbr-text mbr-fonts-style form-text display-7">
                    Get monthly updates and free resources.
                </p>
                <div class="media-container-column" data-form-type="formoid">
                    <!---Formbuilder Form--->
                    <form action="https://https://www.paytm.comm/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="4m5A8vLKJ9q3rfAIJOklx4/oG8NDQjf97Bgw8tF7Oz4dSrLFw3mbEy/MNCJe/HaHGAhWs8kzv9KL5sBkcMAPlGFQCMc7mo/tk2HJOewv/Rul26mYwg8ed7U10g6FlEwd">
                        <div class="row form-inline justify-content-center">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                                    </div>
                        </div>
                        <div class="dragArea row form-inline justify-content-center">
                            <div class="col-auto  form-group " data-for="email">
                                <input type="email" name="email" placeholder="Email" data-form-field="Email" required="required" class="form-control input-sm input-inverse my-2 display-7" id="email-footer4-a">
                            </div>
                            <div class="col-auto  input-group-btn  m-2"><button type="submit" class="btn btn-primary m-0 display-4" href="index.html#pricing-tables3-9">Subscribe</button></div>
                        </div>
                    </form><!---Formbuilder Form--->
                </div>
                <p class="mb-4 mbr-fonts-style foot-title display-7">
                    CONNECT WITH US
                </p>
                <div class="social-list pl-0 mb-0">
                        <div class="soc-item">
                            <a href="" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="htt7" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="mailto:negiraunak421@gmail.com" target="_blank">
                                <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="mailto:negiraunak421@gmail.com" target="_blank">
                                <span class="mbr-iconfont mbr-iconfont-social mbri-github"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="mailto:negiraunak421@gmail.com">
                                <span class="mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="mailto:negiraunak421@gmail.com" target="_blank">
                                <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-12 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2019 Mobirise - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
   
<!-- scripts -->
<%- include('partials/footer') %>