<%- include('partials/header') %>

<section class="header4 cid-ryMBtqdt95 mbr-parallax-background" id="header4-1j">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-image:assets\images\img.png;">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="media-content col-md-10" style="margin-top: 200px; ">
                <h1 class="mbr-section-title align-center mbr-white pb-3 mbr-bold mbr-fonts-style display-1">Order your Medicines</h1>
                
                <div class="mbr-text align-center mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-5">Mail your prescriptions at the below link</p>
                </div>
                <div class="mbr-section-btn align-center"><a class="btn btn-md btn-primary display-4" href="https://docs.google.com/forms/d/e/1FAIpQLSfQt0-CU4_KfjV02pCnH_eGs_Wx7jvURZJylm6H-0dU6WHuuw/viewform?usp=sf_link" target="_blank">Get Medicines</a></div>
            </div>
            <div class="mbr-figure pt-5">
                <img src="assets\images\img2.png" alt="Mobirise" title="" style="width: 40%; margin-left: 370px; margin-bottom: 10px;">
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="assets/parallax/jarallax.min.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
  <input name="animation" type="hidden">
  </body>
</html>